html {
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
}

.navbar {
  background-color: #0c0032;
}

.nav-item {
  font-weight: 500;
  font-size: 20px;
  color: #f8f8ff;
  padding: 1em;
}

.main-container {
  margin: auto;
}

content {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: auto;
  background-color: #0c0032;
}

content {
  padding-left: 2em;
  padding-right: 2em;
}

.jumbotron {
  color: #f8f8ff;
  background-color: #3500D3 !important;
}

.title {
  padding-top: 0.5em;
  padding-bottom: 0;
  font-family: 'Major Mono Display', monospace;
  font-style: normal;
  font-weight: 200;
  color: #f8f8ff;
}

img {
  max-width: 100%;
}

.row {
  padding: 1em;
  align-items: center;
}

.row-no-padding {
  padding: 0;
}

.row-border {
  border-top: 2px solid #f8f8ff;
}

.body-text {
  font-family: 'Share Tech Mono', monospace;
  font-style: normal;
  color: #f8f8ff;
}

.btn {
  margin: 1em;
  margin-left: 0;
}

/* put at bottom after adding welcome page */
.spacer {
  height: 100em;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .jumbotron {
    margin-top: 4em;
    padding-top: 0 !important;
  }
  .title {
    padding-top: 2em;
    font-weight: 600;
    font-size: 24px;
  }
  img {
    max-width: 80%;
  }
  .body-text {
    font-weight: 100;
    font-size: 14px;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .jumbotron {
    margin-top: 6em;
  }
  .title {
    font-weight: 700;
    font-size: 36px;
  }
  .body-text {
    font-weight: 200;
    font-size: 18px;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .jumbotron {
    margin-top: 6em;
  }
  .title {
    font-weight: 800;
    font-size: 72px;
  }
  .body-text {
    font-weight: 300;
    font-size: 22px;
  }
}
