.navbar {
  background-color: #0c0032;
}

.nav-item {
  font-weight: 500;
  font-size: 20px;
  color: #f8f8ff;
  padding: 1em;
}

.main-container {
  margin: auto;
  position: relative;
  background-color: #0c0032;
}

content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
  overflow-x: auto;
  background-color: #0c0032;
}

.jumbotron {
  margin-top: 6em;
  height: 100%;
  width: 100%;
  color: #f8f8ff;
  background-color: #3500D3 !important;
}

.title-spacer {
  height: 2em;
}

.title {
  font-family: 'Major Mono Display', monospace;
  font-style: normal;
  font-weight: 200;
  color: #f8f8ff;
}

.body-text {
  font-family: 'Share Tech Mono', monospace;
  font-style: normal;
  color: #f8f8ff;
}

/* put at bottom after adding welcome page */
.spacer {
  height: 100em;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  table {
    max-width: 100%;
    margin-top: 4em;
  }
  .title {
    font-weight: 400;
    font-size: 24px;
  }
  img {
    max-height: 40%;
  }
  .body-text {
    font-weight: 300;
    font-size: 14px;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  table {
    max-width: 600px;
    padding-top: 6em;
  }
  .title {
    font-weight: 500;
    font-size: 36px;
  }
  img {
    max-height: 40%;
  }
  .body-text {
    font-weight: 400;
    font-size: 20px;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  table {
    max-width: 800px;
    padding-top: 6em;
  }
  .title {
    font-weight: 400;
    font-size: 72px;
  }
  img {
    max-height: 40%;
  }
  .body-text {
    font-weight: 400;
    font-size: 22px;
  }
}

@keyframes Spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
